# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
debug/
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local
.env

# Typescript
*.tsbuildinfo

# Log files
.log

# Temporary files
.tmp
.swp
.bak

# Environment configuration
.env
.env.local
.env.production

# Package Manager Configuration
.npmrc
.yarnrc
package-lock.json

# IDE settings
.idea/
.vscode/

# Realm files
default.realm
default.realm.lock

# iOS
ios/Pods/
ios/Podfile.lock
ios/build/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcsettings/
ios/*.xcuserstate

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/gradle/wrapper/gradle-wrapper.jar
.gradle/