# Dependencies
node_modules/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# env files
.env

# Typescript
*.tsbuildinfo

# Log files
*.log

# Temporary files
.tmp
.temp
.swp
.bak

# Environment configuration
.env
.env.local
.env.production

# Package Manager Configuration
.npmrc
.yarnrc
package-lock.json

# IDE settings
.idea/
.vscode/

# Realm files
default.realm
default.realm.lock

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/.idea/
android/app/*.keystore
android/captures/

# iOS
ios/Pods/
ios/build/
ios/*.xcuserdata/
ios/*.xcworkspace/
ios/*.xcscmblueprint
ios/DerivedData/
ios/.xcode.env